.button {
    -fx-background-color: #5cad9f;
    -fx-background-radius: 100;
    -fx-pref-width: 132px;
    -fx-pref-height: 37px;
    -fx-border-color: white; /* Set border color to white */
    -fx-border-width: 2px;
    -fx-border-radius: 100;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0, 0, 2);
}

.label-view {
    -fx-background-color: #5d857e;
    -fx-background-radius: 100;
    -fx-pref-width: 180px;
    -fx-pref-height: 30px;
    -fx-effect: innershadow(gaussian, #0e2504, 5, 0, 0, 1);
}

.next-button {
    -fx-background-color: linear-gradient(to top right, #4cf97c, #0bdffc);
    -fx-background-radius: 100;
    -fx-pref-width: 80px;
    -fx-pref-height: 37px;
}

.card {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 25;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 2);
}
